*

!README.md

!07_03_2019_Arabidopsis_1001_BAA.csv
!07_03_2019_Arabidopsis_1001_FAA.csv

!func_absolute_vs_total.R
!func_Asp_Fam.R
!func_BCAA_Fam.R
!func_Glu_Fam.R
!func_Pyr_Fam.R
!func_Ser_Fam.R
!func_Shikimate_Fam.R

!AA_Ratio.R

!.gitignore
